#table td{
    padding: 10px;
    height: 1.5rem;
    text-align: center;
}
#table th{
    border: 1px solid #ddd;
    padding: 0.7rem; 
    color: #ddd;
    height: 3rem;
    font-size: 1.2rem;
}
table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even){background-color: #f2f2f2}
#header{
    background-color: #04AA6D;   
}
#dashboardHeader{
    height: 50px;
}
.dashboardHamburger{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}