#toDoTable{
    height: auto;
}


#toDoHeader{
    height: 4rem;
    background-color: lightgray;
    color: blueviolet;
    font-size: 20px;
}
#toDoTable td{
    text-align: center;
    font-size: 18px;
    padding: 1rem;
    color: olivedrab;
}