form{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top:50%; right: 50%;
    transform: translate(50%, -50%);
}
input[type=text]{
    width: 18rem;
    padding: 10px;
    font-size: 20px;
}
input[type=submit]{
   width: 10rem;
   font-size: 20px;
   padding: 8px;
   background-color: #4CAF50;
   color: white;
   border: 2px solid;
   border-radius: 5px;
}
label{
    font-size: 20px;
    color: lightcoral;
}
.error{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #4CAF50;
    font-weight: 300;
    background-color: hsla(0, 100%, 30%, 0.3);
}